{% extends "base.html" %}

{% block title %}Solventia | Cerradas{% endblock %}

{% block content %}
{% include "search.html" %}
<div class="container">
    <div class="row">
        {% if issues %}
            {% for issue in issues %}
            <div class="col-12">
                <p>
                    <span><a href="{{ issue.get_absolute_url }}">{{ issue.title }}</a></span>
                    <span><button style="background-color: rgb({{ issue.queue.color }})"><a href="{{ issue.queue.get_absolute_url }}">{{ issue.queue.name }}</a></button></span>
                </p>
            </div>
            {% endfor %}
            {% else %}
            <div class="col-12">
                <p>No hay tareas cerradas en este momento</p>
            </div>
            {% endif %}
        </div>
</div>
{% endblock %}