{% extends "base.html" %}

{% block title %}Solventia | {{ issue.id }}{% endblock %}

{% block content %}
{% include "search.html" %}
<div class="container">
    {% if issue.urgent %}
        <h3 style="color:red">Urgente: {{ issue.title }}</h3>
    {% else %}
    <h3>{{ issue.title }}</h3>
    {% endif %}
    <button style="background-color: rgb({{ issue.queue.color }})"><a href="{{ issue.queue.get_absolute_url }}">{{ issue.queue.name }}</a></button>
    <br><br>
    <p>
        {{ issue.description }}
    </p>
    <p>
        <ul>
            <b><li>Creada el {{ issue.created_at.day }}/{{ issue.created_at.month }} a las {{ issue.created_at.hour }}:{{ issue.created_at.minute }}</li></b>
        </ul>
    </p>
    <br>
    <button><a href="{% url "issues:opened" %}">Volver</a></button>
    <button><a href="{% url "issues:edit" issue.id %}">Editar</a></button>
    {% if issue.closed_at %}
        <form action="{% url "issues:reopen" issue.id %}">
            <button type="submit">Reabrir</button>
        </form>
    {% else %}
        <form action="{% url "issues:close" issue.id %}">
            <button type="submit">Cerrar</button>
        </form>
    {% endif %}
</div>
{% endblock %}