{% extends "base.html" %}

{% block title %}Solventia | {{ queue.name }}{% endblock %}


{% block content %}
{% include "search.html" %}
<div class="container">
  <h1><button style="background-color: rgb({{ queue.color }})">{{ queue.name }}</button></h1>
  <br><br>
  <ul>
    {% for issue in queue.issues.all %}
    {% if issue.closed_at %}
    <h5>
    <li>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
      <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2"/>
    </svg>
    <a href="{{ issue.get_absolute_url }}">{{ issue.title }}</a></li></h5>
    {% else %}
    <h5>
    <li>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-unlock-fill" viewBox="0 0 16 16">
      <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2"/>
    </svg>
      <a href="{{ issue.get_absolute_url }}"{% if issue.urgent %}style="text_decoration:none;color:red;"{% endif %}>{{ issue.title }}</a></li></h5>
    {% endif %}
    
    {% empty %}
    <li><p>No hay ninguna tarea relacionada con esta cola</p></li>
  </ul>
  {% endfor %}  
</div>
{% endblock %}
