nav a {
    text-decoration: none;
    color: black;
    padding: 15px;
    margin-bottom: 0;
}

nav a:hover{
    margin-top: 0;
    border-bottom: 1px solid black;
}

.selected {
    color: red;
    border-bottom: 1px solid red;
}

h1{
    padding: 0px 15px 0px 15px;
}